.audioplayer {
    padding-bottom: 12.5vh;
    padding-top: 12.5vh;
    position: relative;
}

.audioplayer__background-image {
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}

.audioplayer__button-play,
.audioplayer__button-pause {
    background-color: transparent;
    background-size: cover;
    border: 0;
    bottom: 10px;
    height: 40px;
    outline: 0;
    position: absolute;
    width: 40px;

    &:active {
        opacity: 0.5;
    }
}

.audioplayer__button-play {
    background-image: url("../assets/icon-audio-play.png");
    right: 51%;

    &--dark {
        background-image: url("../assets/icon-audio-play-dark.png");
    }
}

.audioplayer__button-pause {
    background-image: url("../assets/icon-audio-pause.png");
    left: 51%;

    &--dark {
        background-image: url("../assets/icon-audio-pause-dark.png");
    }
}
